/* Style overall page */
body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: #000000;
  opacity: 0.9;
  text-align: center;
}
/* Style the header */
header{
  position: fixed;
  top: 0;
  background-color: #000000;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding-left: 10px;
}

#logo img{
  height: 50px;
}

#nav{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  justify-content: flex-end;
}

#nav a{
  text-decoration: underline;
  color: seashell;
  font-size: 16px;
  opacity: 0.9;
  margin-left: 10px;
  margin-right: 10px;
}

/* Style the main */
main{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/* Style Mission Section */
#mission{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
  background-image: url('../images/img-mission-background.jpg')
}

.content{
  width: 100%;
  background-color: #000000;
}

.content h2, .content h4{
  margin: 10px auto;
  opacity: 0.9;
}

/* Style the Featured Tea Section */
#featuredTea {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1000px;
  flex-wrap: wrap;
  margin-top: 50px;
}

figure{
  display: flex;
  flex-direction: column;
  margin: 15px;
}

figure img{
  width: 300px;
  height: 200px;
}

figure span{
  margin-top: 10px;
}

/* Style the Locations Section */
#locations{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  width: 1200px;
  height: 500px;
  background-image: url('../images/img-locations-background.jpg');
  background-size: cover;
  margin-top: 50px;
}

#locations h2{
  width: 100%;
}

#locationContainer{
  display: flex;
  justify-content: space-around;
  width: 1020px;
}

div.branch{
  width: 300px;
  background-color: #000000;
  opacity: 1;
}

/* Style the Contact Information Section */
#contactInfo{
  height: 200px;
}

/* Style the footer */
footer {
  text-align: left;
  padding-left: 20px;
}
